.outer{
    font-family: "Outfit";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9E9CF;
    height: 100vh;
}

.container{
    background-color: #B6CEB4;
    height: 40%;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
}

.formDiv{
    display: flex;
    flex-direction: column;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #96A78D;
}

.header{
    text-align: center;
    font-size: 160%;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
    font-size: 130%;
}

.input{
    width: 40%;
    border-radius: 2px;
    border:none;
    padding: 1%;
}

.btn{
    font-family: "Outfit";
    font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
    border-radius: 5px;
    border: none;
    background-color: #D9E9CF;
    cursor: pointer;
    width: 20%;
    align-self: center;
}

.btn:hover{
    background-color: #6b9269;
}

.btn:active{
    transform: scale(0.95);
}